* {
    margin: 0;
    padding: 0;
    border: none;
}


nav ul {
    text-align: left;
    list-style-type: none;
    padding: 20px 0;
}

nav ul li{
    display: inline;
    padding: 0 10px;
}

img {
    width: 100%;
}

header {
    background-color: #F8DF1F;
}