* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav ul {
    text-align: left;
    list-style-type: none;
    padding: 20px 0;
}

nav ul li{
    display: inline;
    padding: 0 10px;
}

img {
    width: 100%;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #F8DF1F;
    color: #050500;
    border-radius: 8px;
    margin: 20px 0;
    padding: 10px 50px;
}

header {
    background-color: #F8DF1F;
}

.banner {
    background-image: url("img/banner-bg.png"), linear-gradient(#3B3838,#3B3838);
    background-blend-mode: overlay;
    text-align: center;
    padding: 170px 30px;
}

.logo {
    width: 100%;
    max-width: 500px;
}

.burger, .dinein_takeout  {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.burger img{
    padding: 30px;
    width: 275px;
}

.dinein_takeout {
    background: #F3F3F3;
}

.dinein_takeout img {
    width: 200px;
    padding: 30px;
}

footer {
    background: black;
    text-align: center;
    border-top: #F8DF1F 3px;
    padding: 30px 0;
}

.footer_logo {
    width: 100%;
    max-width: 200px;
}



@media (min-width: 700px) {
    .burger, .dinein_takeout {
        display: flex;
        flex-direction: row;
    }

    .burger div, .dinein_takeout div {
        width: 50%;
    }

    .burger img {
        max-width: 200px;
        width: 40%;
    }

    .dinein_takeout img {
        width: 100%;
        max-width: 300px;
    }
}